<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/default :: html(content=~{::content})}">
<body>
    <div th:fragment="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="alert alert-info text-center mt-5">
                        <i class="fas fa-tools me-2"></i>
                        현재 작업 중입니다. 빠른 시일 내에 서비스하도록 하겠습니다.
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html> 